body {
    padding: 0;
    margin: 0;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    font-family: "AppleSDGothicNeo", sans-serif;
    line-height: 1.5;
    font-size: 14px;
}
body::-webkit-scrollbar {
    display: none;
}

.app {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
}