.header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.footer {
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
}

.header-content {
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/header-content-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media only screen and (min-width: 1024px) {
    .footer {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: 0;
    }
}