.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    margin: 5% 0 0 6%;
    width: 142px;
}

.footer {
    position: absolute;
    bottom: 3%;
    left: 6%;
}

.content-container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header-content-container {
    background-image: url("../../images/header-content-background.jpg");
}

.header-content {
    padding: 0 6%;
    width: 100%;
    height: 100%;
}
.title {
    position: absolute;
    max-width: 440px;
    width: 440px;
    top: 20%;
    left: 50px;
}
.title-image {
    width: 100%;
}

.incruit-button {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 125px;
}
.incruit-button-image {
    width: 100%;
}

.app-download-button {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 262px;
}
.app-download-button-image {
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .footer {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin-left: 0;
    }
}